.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7); /* Fondo semi-transparente claro */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* Forzamos el color Jabil Blue en el SVG de PrimeNG */
:host ::ng-deep .p-progress-spinner-circle {
  stroke: #376090 !important;
  animation: p-progress-spinner-dash 1.5s ease-in-out infinite;
}
