<p-table
  #dt1
  dataKey="id"
  [value]="owners()"
  stripedRows
  [paginator]="true"
  [rows]="10"
  [rowsPerPageOptions]="[10, 25, 50, 100]"
  [globalFilterFields]="['fullName']"
  [tableStyle]="{ 'min-width': '50rem' }"
>
  <ng-template #caption>
    <div class="flex">
      <p-iconfield iconPosition="left" class="ml-auto">
        <p-inputicon>
          <i class="pi pi-search"></i>
        </p-inputicon>
        <input
          pInputText
          type="text"
          (input)="dt1.filterGlobal($event.target.value, 'contains')"
          placeholder="Search keyword"
        />
      </p-iconfield>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Status</th>
      <th>Actions</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-owner>
    <tr>
      <td>
        @if (loading()) {
          <p-skeleton />
        } @else {
          {{ owner.id }}
        }
      </td>
      <td>
        @if (loading()) {
          <p-skeleton />
        } @else {
          {{ owner.fullName }}
        }
      </td>
      <td>
        @if (loading()) {
          <p-skeleton />
        } @else {
          <p-tag [value]="owner.active | statusValue" [severity]="owner.active | severity" />
        }
      </td>
      <td>
        @if (loading()) {
          <p-skeleton />
        } @else {
          <p-button
            icon="pi pi-pencil"
            aria-label="Edit"
            severity="info"
            (onClick)="confirmEdit(owner)"
          />
          <p-button
            icon="pi pi-trash"
            aria-label="Save"
            severity="danger"
            (onClick)="confirmDelete(owner.id)"
          />
        }
      </td>
    </tr>
  </ng-template>
  <ng-template #emptymessage>
    <tr>
      <td colspan="7">No owners found.</td>
    </tr>
  </ng-template>
</p-table>
