<aside
  class="flex flex-column h-full flex-shrink-0"
  style="width: 250px; background-color: #002a43"
>
  <div class="flex align-items-center justify-content-between px-4 py-3 mb-4">
    <img src="img/Jabil.png" alt="Logo" style="height: 25px" />
    <i class="pi pi-bars text-white cursor-pointer"></i>
  </div>

  <div class="flex-1 overflow-y-auto custom-sidebar-menu">
    <p-panelMenu [model]="menuItems()" [multiple]="true"></p-panelMenu>
  </div>

  <div class="p-3 border-top-1 border-white-alpha-10" style="background-color: rgba(0, 0, 0, 0.2)">
    <div class="text-xs font-medium text-400">v1.0.0-beta</div>
  </div>
</aside>
